.cart-item {
    cursor: pointer;
    user-select: none;

    min-height: 140px;

    margin-top: 40px;
    display: flex;

    .product-details__subtitle {
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        font-family: "Raleway";
        text-transform: none;
    }

    &__name {
        font-size: 18px;
        font-weight: 300;
        line-height: 160%;
        white-space: nowrap;
        overflow-x: scroll;
        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__subtitle {
        white-space: nowrap;
        overflow-x: scroll;
        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__price {
        font-weight: 500;
        line-height: 160%;
    }

    &__option {
        margin-top: 8px;
        font-size: 14px;
        line-height: 16px;
    }

    &__options {
        margin-right: 4px;

        max-width: 136px;
        width: 100%;
    }

    &__count-wrapper {
        margin-right: 8px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        p {
            font-weight: 500;
            line-height: 160%;
            text-align: center;
        }
    }

    &__count-btn {
        background: none;
        padding-top: 2px;

        width: 24px;
        height: 24px;
        border: 1px solid var(--c-default);

        font-weight: 300;
        font-size: 28px;

        display: flex;
        align-items: center;
        justify-content: center;

        transition: .1s ease-in-out;

        svg {
            stroke: black;
        }

        &:hover {
            background-color: black;
            color: white;
            svg {
                stroke: white;
            }
        }

    }

    &__img {
        max-width: 121px;
        width: 100%;

        background-size: cover;
        background-position: top center;
    }
}