* {
    font-family: "Raleway", sans-serif;
}

.nav-link {
    @apply px-4 pb-6 flex items-start cursor-pointer border-b-2 border-transparent;
}

.nav-link:not(.nav-link_active):hover {
    @apply border-gray-300;
}

.nav-link_active {
    @apply border-[#5ECE7B] text-[#5ECE7B];
}

.subtitle {
    @apply font-bold text-lg uppercase;
    font-family: "Roboto Condensed", sans-serif;
}

.sourcesanspro {
    font-family: 'Source Sans Pro', sans-serif;
}