@import "tailwindcss";
@import "./utils/typography.css";
@import "./utils/buttons.css";
@import "./components/quickshop.css";
@import "./components/pd-slider.css";
@import "./components/cart-modal.css";
@import "./components/attributes.css";
@import "./components/productCard.css";

@media (width >=96rem) {
    .container {
        max-width: 80rem;
    }
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

.scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
}