@media (max-width: 1200px) {
    .cart-modal {
        width: 325px!important;
        right: 0px;
    }
}

@media (max-width: 768px) {
    .product-list__title {
        text-align: center;
    }
    .tab-item {
        padding: 0 8px!important;
        padding-top: 4px!important;
    }
    .navbar {
        &__tabs-wrapper {
            order: 2;
            justify-content: center;
        }

        &__logo-wrapper {
            order: 1;
            justify-self: flex-start;
            img {
                margin: 0;
            }
        }

        &__cart-wrapper {
            order: 3;
            position: static!important;
        }

        &__cart {
            position: static;
        }

        .modal.cart-modal {
            position: absolute;
            overflow-y: scroll;
            top: 80px;
            right: 0px;
            max-width: 100%!important;
            width: 100%!important;
            height: calc(100vh - 80px);
            max-height: calc(100vh - 80px);
            .cart-modal__wrapper {
                max-height: calc(100vh - 295px);
            }
            .cart-item {
                justify-content: space-around;
                flex-direction: column-reverse;
                align-items: center;
                &__options {
                    margin-top: 20px;
                    max-width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                &__count-wrapper {
                    flex-direction: row;
                    gap: 10px;
                }
            }
            .cart-item__img {
                max-width: 150px;
                min-height: 150px;
            }
        }

        
    }
    .product-list {
        margin-top: 40px;
    }
    .product-list__wrapper {
        padding: 40px 0px;
    }
    .product  {
        .product__img {
            max-width: 354px;
            width: 100%;
        }
    }
}

@media (max-width: 985px) {
    .container {
        overflow-x: hidden;
    }
    .product-details {
        flex-direction: column-reverse;
        align-items: center;
        gap: 150px;
        padding-bottom: 40px;
        .product-details__actions-wrapper {
            max-width: 500px;
            .product-details__actions {
                max-width: 100%;
            }
        }
        .product-details__slider-wrapper {
            justify-content: center;
        }
        .slider__pagination {
            justify-content: center;
            top: -100px;
            flex-direction: row;
            max-width: 100%;
            width: 100%;
            height: 80px;
            .dot {
                max-width: 80px;
                height: 100%;
            }
        }
    }
}

@media (max-width: 600px) {
    .slider__pagination {
        gap: 8px;
        .dot {
            max-width: 65px!important;
            height: 65px!important;
        }
    }
}