.tab {
    
    &-item {
        cursor: pointer;

        position: relative;

        display: flex;

        padding: 0 16px;
        padding-top: 4px;
        height: 100%;

        text-transform: uppercase;
        font-weight: 400;
    }

    &-item_active {
        color: var(--c-accent);
        font-weight: 600;
    }

    &-item::after {
        content: "";
        display: block;
        height: 2px;
        width: 0%;

        position: absolute;
        bottom: -2px;
        left: 50%;
        translate: -50% 0;

        transition: width .12s ease-in;

        background-color: var(--c-default);
        opacity: .5;
    }

    &-item:hover::after {
        width: 100%;
        transition: width .06s ease-in;
    }

    &-item_active::after {
        background-color: var(--c-accent);
        width: 100%;
        opacity: 1; 
    }
}