:root {
    --c-accent: #5ECE7B;
    --c-default: #1D1F22;
    --c-black: #000000;
    --c-white: #FFFFFF;
    --c-gray: #443a3a;
    --c-lightgray: #dbdbdb;
    --c-cream: #f0f0f0;

    --bs-product: 0px 4px 35px 0px rgba(168, 172, 176, 0.19);
    --bs-quickshop: 0px 4px 11px 0px rgba(29, 31, 34, 0.1);
}