#product-details__slider {
    position: relative;

    height: 100%;
    max-width: 575px;

    .slider__main {
        height: 478px;
        .slider__slide {
            height: 100%;
            border: none;
            background-color: white;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .slider__slide.img-load-error {
            width: 100%;
            height: 100%;
            background-image: url("../../../assets/image-load-failed.svg");
            background-repeat: no-repeat;
            background-size: 120px 120px;
            background-position: center center;
            img {
                display: none;
            }
        }
    }

    &.oneSlide {
        .slider__btn-prev, .slider__btn-next {
           pointer-events: none;
           opacity: .2;
        }
    }

    .slider__btn-prev, .slider__btn-next {
        cursor: pointer;

        position: absolute;
        width: 32px;
        height: 32px;
        background-color: var(--c-black);
        opacity: .7;

        top: 50%;
        translate: 0 -50%;

        display: flex;
        justify-content: center;
        align-items: center;

        transition: opacity .1s ease-in;

        &:hover {
            opacity: 1;
        }
    }

    .slider__btn-prev {
        left: 16px;
        svg {
            transform: rotate(180deg);
        }
    }

    .slider__btn-next {
        right: 16px;
    }
}

.slider__pagination {
    position: absolute;
    left: 0;

    width: 80px;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    gap: 20px;

    .dot {
        flex: 1;
        width: 100%;
        aspect-ratio: 1;
        max-height: 80px;

        background-color: white;
        border: 1px solid transparent;


        &_active {
            border: 1px solid var(--c-black);
        }
    }
}