// Styles for cart option 

.option.cart-option {
    .option__subtitle {
        margin-top: 10px;
    }

    gap: 8px;

    .option__item {
        padding: 0px 5px;
        min-height: 24px;
        font-size: 14px;
    }

    .option__item:not(.option__item_active):hover {
        box-shadow: none;
    }
}

.option.cart-option[data-option="swatch"] {
    display: flex;
    flex-wrap: wrap;
    .option__item {
        padding: 0;
        width: 16px;
        min-height: 16px;
    }

    .option__item:not(.option__item_active):hover {
        box-shadow: none;
    }
}